<div class="accordion accordion-flush" id="accordion-question">
    <%= form_with url: website_answer_path do |form| %>
        <% @questions.each_with_index do |question, index| %>
            <div class="accordion-item">
                <h3 class="accordion-header" id="heading-<%= index %>">
                        <div class="accordion-button collapsed d-flex justify-space-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
                            <span class='flex-grow-1'>
                                <%= question.description %>
                            </span>
                            <span class="badge text-bg-secondary mx-2">
                                <%= question.subject.description %>
                            </span>
                        </div>
                </h3>
                <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>" data-bs-parent="#accordion-question">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <h4 class="fs-6">Respostas</h4>
                            <% question.answers.each do |answer| %>
                                <li class="list-group-item">
                                    <div class="form-check px-0">
                                        <%= radio_button_tag 'answer_id', answer.id %>
                                        <label class="form-check-label mx-2" for="answer_id_<%= answer.id %>">
                                            <%= answer.description %>
                                        </label>
                                    </div>
                                </li>
                            <% end %>
                            <li class="list-group-item">
                                <%= form.submit "Responder", class: 'btn btn-default', id: "submit_button_#{question.id}" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% end %>
    <% end %>
</div>