<h2>Editar</h2>

<%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
    <div class="container p-0">

        <div class="mb-3">
            <%= form.label :email, class: "form-label fw-bold" %>
            <%= form.text_field :email, class: "form-control", placeholder: "E-mail do administrador" %>
        </div>

        <div class="mb-3">
            <%= form.label :password, class: "form-label fw-bold" %>
            <%= form.text_field :password, class: "form-control", placeholder: "********" %>
        </div>

        <div class="mb-3">
            <%= form.label :password_confirmation, class: "form-label fw-bold" %>
            <%= form.text_field :password_confirmation, class: "form-control", placeholder: "********" %>
        </div>

        <button class="btn btn-custom">
            <%= render_svg('send') %> Salvar
        </button>
    </div>
<% end %>