<h2>Administradores</h2>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">E-mail</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>

    <% @admins.each do |admin| %>

      <tr>
        <td><%= admin.id %></td>
        <td>
          <a href="mailto:<%= admin.email %>">
            <%= admin.email %>
          </a>
        </td>
        <td>
          <div class="d-flex justify-content-end gap-1">
            <div 
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom" 
              data-bs-title="Editar">
              <%= link_to edit_admins_backoffice_admin_path(admin),  class: "btn btn-circle btn-primary" do %>
                <%= render_svg('edit_note') %>
              <% end %>
            </div>
            <div 
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom" 
              data-bs-title="Apagar">
              <a href="#" class="btn btn-circle btn-danger">
                <%= render_svg('delete') %>
              </a>
            </div>
          </div>
        </td>
      </tr>

    <% end %>

  </tbody>
</table>
