<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>
    <%= stylesheet_link_tag    'user' %>

  </head>

  <body>

  <h2>Resultados da busca</h2>

  </body>
</html>
