<!DOCTYPE html>
<html>
  <head>
    <title>Time to answer - Administrador backoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'global' %>
    <%= javascript_include_tag 'pooper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>

  </head>

  <body>


  
    <header id="nav-header" class="position-fixed w-100 bg-light">
      <div class="container py-2 d-flex justify-content-end">
        <div class="dropdown">
          <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_admin.email %>
          </span>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item" do %>
                <%= render_svg('logout.svg') %>
                Sair
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div id="content">

      <aside id="aside-menu">
        <div class="container">
          <h2>Backoffice Administrativo</h2>

          <nav>
            <h4>Geral</h4>
            <ul>
              <li>
                <%= link_to '/dashboard' do %>
                  <%= render_svg('dashboard.svg') %>
                  Dashboard
                <% end %>
              </li>
              <li>
                <%= link_to '/administradores' do %>
                  <%= render_svg('group.svg') %>
                  Administradores
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <main id="main-content">
        <div class="container">
          <%= yield %>
        </div>
      </main>

    </div>
  </body>
</html>
