<% active_feature = params[:controller].split('/').last %>

<!DOCTYPE html>
<html>
  <head>
    <title>Time to Answer - Administrador </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>
    <%= stylesheet_link_tag    'admin' %>

  </head>

  <body>

    <div id="content">

      <aside id="aside-menu">
        <div class="container">
          <h2 class="logo">
           <%= link_to "Backoffice Administrativo", admins_backoffice_welcome_index_path %>
          </h2>

          <nav>
            <h4>Geral</h4>
            <ul>
              <li>
                <%= link_to admins_backoffice_welcome_index_path do %>
                  <%= render_svg('dashboard') %>
                  Dashboard
                <% end %>
              </li>
              <li class="<%= 'active' if active_feature == 'admins'  %>">
                <%= link_to admins_backoffice_admins_path do %>
                  <%= render_svg('group') %>
                  Administradores
                <% end %>
              </li>
              <li class="<%= 'active' if active_feature == 'subjects'  %>">
                <%= link_to admins_backoffice_subjects_path do %>
                  <%= render_svg('library_books') %>
                  Assuntos
                <% end %>
              </li>
              <li class="<%= 'active' if active_feature == 'questions'  %>">
                <%= link_to admins_backoffice_questions_path do %>
                  <%= render_svg('psychology_alt') %>
                  Questões
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <main id="main-content">

        <header id="nav-header" class="position-fixed bg-light">
          <div class="container py-2 d-flex justify-content-end">
            <div class="dropdown">
              <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_admin.email %>
              </span>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, :class => "dropdown-item" do %>
                    <%= render_svg('logout') %>
                    Sair
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </header>

        <div class="container">
          <%= yield %>
        </div>
      </main>

    </div>

    <% if notice %>

      <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              <%= notice %>
          </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>

    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pooper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'global' %>
    <%= javascript_include_tag 'initializers' %>

  </body>
</html>
