<!DOCTYPE html>
<html>
  <head>
    <title>Time to answer - Usuário backoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>
    <%= stylesheet_link_tag    'user' %>


  </head>

  <body>
      
    <%= render 'layouts/shared/header' %>

    <main>

      <div class="container">
        <%= yield %>
      </div>

    </main>

    <% if notice %>

      <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              <%= notice %>
          </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>

    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pooper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'global' %>
    <%= javascript_include_tag 'initializers' %>

  </body>
</html>
