<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>
    <%= stylesheet_link_tag    'user' %>

  </head>

  <body>

  <%= render 'layouts/shared/header' %>

  <main>
    
    <div class="container">
      <%= yield %>
    </div>

  </main>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pooper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'global' %>
    <%= javascript_include_tag 'initializers' %>

  </body>
</html>
