<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'global' %>

  </head>

  <body>
    <h1>Layouts / Website</h1>
    
    <%= yield %>
  </body>
</html>
