<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'global' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'global' %>

  </head>

  <body>
    <div class="container">
    <h1>Time to Answer</h1>
    <hr class="divider"/>
    
    <%= yield %>

    </div>
  </body>
</html>
